body{
    background-color: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadoraContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid red;
    background: rgb(233, 233, 233);
}

#resultsContainer{
    height: 150px;
    background-color: #212121;
    border: 1px solid red;
}

#calculatorValue{
    font-size: 25px;
    color: #fff;
}

#mathExpressionValue{
    border: 1px solid red;
    color: #838383;
}



input{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
    margin: 5px 0px 0px 0px;
    background-color: #212121;
    font-size: 15px;
    color: aliceblue;
}

